@use '../default/custom.scss';

.container-dashboard {
  gap: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "short-panel notification-side"
    "dashboard-table notification-side";
}

.opening {
  @include custom.flex-space-between;

  h3, p {
    margin: 0;
    padding: 0;
    color: custom.$color-primary;
  }
}

.table {
  grid-area: dashboard-table;

  .title-table {
    color: custom.$color-primary;
  }
}

.notification-side {
  grid-area: notification-side;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: custom.$color-primary;
}

.short-panel {
  grid-area: short-panel;
  @include custom.flex-space-between;
}

.panel {
  min-width: 230px;
  max-height: 75px;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: custom.$color-primary;
}

.notification-side, .panel {
  &:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: rgb(227, 227, 227);
  }
} 

.text {
  .title {
    margin: 0;
  }
  
  .number {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bolder;
  }
}

.iconCircle {
  position: relative; // penting, supaya absolute berada dalam area ini
  width: 70px;
  height: 70px;
  
  div {
    width: 100%;
    height: 100%;
    background: custom.$dark-green;
    border-radius: 50%;
    position: relative;
    z-index: 1; // lapisan belakang
  }
  
  .onPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // icon di tengah
    z-index: 2; // di depan
    width: 40px;
    height: 40px;
    color: custom.$color-primary;
  }
}

.notif-title {
  height: 25px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.notif-content {
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;

  p {
    margin: 0;
    padding: 0;
  }

  .redText {
    font-weight: bold;
    color: custom.$danger;
  }
}
