<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SEHUB+</title>
</head>
<body>
    <header>
        <div class="logo-larbre">
            <h2>Tambah Data Distribusi Produk</h2>
            <img src="../../public/logo-larbreseho.png" alt="">
        </div>
    </header>

    <aside>
        <div class="aside">
            <nav>
                <div class="logo-sehub">
                    <img src="../../public/sehub.png" alt="">
                </div>
                <div class="navigation">
                    <div class="menu">
                        <img class="icon" src="../../public/menu-g.png" alt="">
                        <p>MENU</p>
                    </div>
                    <div class="nav">
                        <img class="icon" src="../../public/home-g.png" alt="">
                        <a href="">Beranda</a>
                    </div>
                    <div class="nav">
                        <img class="icon" src="../../public/add-g.png" alt="">
                        <a href="">Tambah Data</a>
                    </div>
                    <div class="nav">
                        <img class="icon" src="../../public/history-g.png" alt="">
                        <a href="">Riwayat</a>
                    </div>
                    <div class="nav">
                        <img class="icon" src="../../public/gear-g.png" alt="">
                        <a href="">Pengaturan</a>
                    </div>
                </div>
            </nav>
            <div class="companies-name">
                <p>PT. Rumah Seho Nusantara</p>
            </div>
        </div>
    </aside>

    <main>
        <div class="mainn">
            <div class="hari-tgl">
                <p>20 September 2025</p>
            </div>
            <div class="main-section">
                <h3>Form Tambah Data Distribusi</h3>
                <form>
                    <div class="inputan">
                        <label for="hari-tgl">Hari/Tanggal</label>
                        <input type="date" placeholder="Hari/Tanggal">
                    </div>
                    <div class="inputan">
                        <label for="nama-pemesan">Nama Pemesan</label>
                        <input type="text" placeholder="Nama Pemesan">
                    </div>
                    <div class="inputan">
                        <label for="jenis-produk">Jenis Produk</label>
                        <select name="Jenis Produk" id="jenis-produk" placeholder="Jenis Produk">
                            <option value="Seho Sirop">Seho Sirop</option>
                            <option value="Seho Granule">Seho Granule</option>
                            <option value="Seho Block">Seho Block</option>
                        </select>
                    </div>
                    <div class="inputan">
                        <label for="kuantitas">Kuantitas</label>
                        <input type="text" placeholder="Kuantitas">
                    </div>
                    <div class="inputan">
                        <label for="metode-pengiriman">Metode Pengiriman</label>
                        <select name="Jenis Produk" id="metode-pengiriman" placeholder="Metode Pengiriman">
                            <option value="Seho Sirop">Pengantaran Langsung</option>
                            <option value="Seho Granule">Jasa Kurir</option>
                            <option value="Seho Block">Ambil Di tempat</option>
                        </select>
                    </div>
                    <div class="inputan">
                        <label for="keterangan">Keterangan</label>
                        <input type="text" placeholder="Keterangan">
                    </div>
                    <div class="inputan">
                        <label for="status">Status</label>
                        <select name="Jenis Produk" id="status" placeholder="Status">
                            <option value="Seho Sirop">Pengemasan</option>
                            <option value="Seho Granule">Sedang Dikirim</option>
                            <option value="Seho Block">Sudah Diterima</option>
                        </select>
                    </div>
                </form>
                <div class="img-product"></div>
            </div>
        </div>
    </main>
</body>
</html> -->