@use '../default/custom.scss';

.dashboard {
  gap: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "opening opening"
    "short-panel notification-side"
    "dashboard-table notification-side";
}

.opening {
  grid-area: opening;
  @include custom.flex-space-between;
  padding: 0;
  margin: 0;
}

.table {
  grid-area: dashboard-table;
}

.notification-side {
  grid-area: notification-side;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.short-panel {
  grid-area: short-panel;
  @include custom.flex-space-between;
  padding-bottom: 1.5rem;
}

.panel {
  min-width: 230px;
  max-height: 80px;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
  .number {
    font-size: 1.5rem;
  }
}