@use '../default/custom.scss';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: custom.$color-primary;
    font-family: "Poppins", sans-serif;
    color: custom.$color-secondary;
}

.main-side {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 80px auto;

    grid-template-areas:
        "sidebar header header"
        "sidebar main main";
}

header {
    grid-area: header;
}
.aside {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    align-self: start; /* penting agar tidak stretch penuh */
    height: max-content;
}
.content {
    grid-area: main;
}

/* logo L' Arbre Seho */
.logo-larbre {
    @include custom.flex-between;
    color: custom.$color-primary;
    background-color: custom.$color-tertiary;
    padding: 0.5rem 1rem;

    h2 {
        font-size: 1.15rem;
    }
    
    img {
        width: 50px;
        height: auto;
        background-color: custom.$color-primary;
        border-radius: 4px;
    }
}

.icon {
    color: custom.$color-tertiary;
}

/* side-bar */
.logo-sehub {
    background-color: custom.$color-secondary;
    
    img {
        width: 100%;
    }
}

.menu {
    @include custom.flex-align-center;
    gap: 1rem;

    p {
        font-size: 1.5rem;
        font-weight: bolder;
        color: custom.$color-primary;
    }

    img {
        width: 20px;
    }
}

.aside {
    background-color: custom.$color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.navigation {
    @include custom.flex-column;
    gap: 8rem;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        @include custom.flex-align-center;
        gap: 1rem;
        padding-block: 0.5rem;
    }

    a {
        text-decoration: none;
        font-weight: bolder;
        color: custom.$color-primary;
    }
}

.icon {
    fill: aqua;
}

.companies-name {
    color: custom.$color-primary;
    text-align: center;
    font-size: 0.8rem;
}

/* main-side */
.hari-tgl {
    @include custom.flex-align-center;
    justify-content: end;
    padding-inline: 1rem;
    font-weight: bolder;
}

.content {
    margin: 1rem;
    border-radius: 12px;
    background-color: custom.$color-primary;
    color: custom.$color-secondary;
}

// base-setting
.setting {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
        "product-display other-setting";

    h4 {
        font-weight: bolder;
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    h5 {
        margin: 0;
    }

    p {
        font-size: 0.9rem;
    }
}

