@use '../default/custom.scss';

.inventory-items {
  display: grid;
  grid-auto-flow: column;      /* SUSUN KOLOM KE KANAN */
  grid-auto-columns: 320px;    /* lebar setiap card */
  grid-template-rows: repeat(2, auto);   /* 2 baris */
  gap: 1.5rem;

  overflow-x: auto;
  // overflow-y: hidden;
  padding: 1rem;
}

.items {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 150px;

  border-radius: 8px;
  background-color: custom.$color-primary;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    width: 330px;
    transition: all 0.2s ease-in-out;
  }

  img {
    border-radius: 8px 0 0 8px;
  }
}

.item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 0.5rem;

  span {
    color: #8D8D8D;
    font-size: 1rem;
  }

  .title, .number, .product-name {
    margin: 0;
    padding: 0;
  }
}

.counting {
  width: 100%;
  display: flex;
  gap: 2rem;

  .number {
    font-size: 1.5rem;
  }
  .title {
    font-size: 0.8rem;
  }
}

.product-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

.stock-now {
  .number {
    color: custom.$color-tertiary;
  }
}

/* checking stock form */
.checking-overlay {
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.check-stock {
  width: 500px;
  background-color: #FAFAFA;
  @include custom.flex-space-between;
  flex-direction: column;
  gap: 1rem;

  border: custom.$color-secondary 1px solid;
  border-radius: 4px;
  padding: 1rem;

  p {
    margin: 0;
    padding: 0.5rem;
  }

  .header {
    @include custom.flex-center;
    gap: 0.5rem;
  }

  .main {
    height: 250px;
    overflow-y: scroll;
    
    border: custom.$color-secondary 1px solid;
    border-radius: 4px;
    padding: 0.5rem;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
}

.lists-stock {
  border: custom.$color-secondary 1px solid;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;

  table {
    font-size: 0.6rem;
  }

  .total {
    font-size: 0.5rem;
    text-align: right;
    color: #8D8D8D;

    span {
      color: custom.$color-secondary;
      font-size: 0.8rem;
    }
  }
}

