body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #118800;
    /* background: linear-gradient(90deg, #1a4d1a, #4d774d, #9cada0);
    background-size: cover; */
    font-family: "Poppins", sans-serif;
    color: white;
    display: grid;
}

header {
    height: 50px;
    display: flex;
}

.logo-sehub {
    background-color: #2B2B2B;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-larbre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

main {
    display: flex;
    gap: 0.5rem;
}

.main-content {
    display: flex;
    gap: 5rem;
}

/* side-bar */
aside {
    width: 20%;
    height: 100vh;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
