body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #1a4d1a, #4d774d, #9cada0);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    color: white;
}

header {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

main {
    padding: 0 2rem;
}

.task-bar {
    display: flex;
    justify-content: space-between;
}

.page {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* didalam .page */
.icon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}
/**/

.nav-tgl, .navigation {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.nav-tgl {
    font-weight: bold;
    font-size: 1rem;
}

.form-section {
    border: 1px solid white;
    border-radius: 0.5rem;
    height: 70vh;
    display: flex;
}

.form {
    padding: 1rem;
    width: 100%; /* penting */
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 3rem;
}

/* didalam .form */
.form-input {
    display: flex;
    gap: 2rem;
}

input, select {
    width: 100%;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
}

.form-button {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: end;
}

.cancel-button, .save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    border-radius: 0.5rem;
}

.img-product {
    width: 100%;
}

.img {
    width: 70%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
}