@use '../default/custom.scss';

.base-btn {
  @include custom.flex-center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  color: custom.$color-primary;
  font-weight: bold;
  gap: 0.5rem;

  &:hover {
    cursor: pointer;
    color: custom.$color-primary;
    transition: all 0.2s ease-in-out;
  } 
}

.button-side {
  @include custom.flex-between;
}

.black {
  background-color: custom.$color-secondary;
}

.yellow {
  color: custom.$warning;

  &:hover {
    background-color: custom.$warning;
  }
}

.green {
  color: custom.$color-tertiary;

  &:hover {
    background-color: custom.$color-tertiary;
  }
}

.red {
  color: custom.$danger;

  &:hover {
    background-color: custom.$danger;
  }
}

/* button di tabel dashboard */
.btn-tbl-detail {
  height: 10px;
  width: 85px;

  color: custom.$color-secondary;

  &:hover {
    background-color: custom.$dark-green;
  }

  p {
    font-size: 0.7rem;
    font-weight: bolder;
  }
}
