.base-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1.3rem;
  border: none;
  color: white;
  font-weight: bold;
}

.base-btn:hover {
  cursor: pointer;
} 

.black {
  background-color: #2B2B2B;
}

.yellow {
  background-color: #EFAC00;
}

.green {
  background-color: #118800;
}

.red {
  background-color: #D20000;
}