@use '../default/custom.scss';

/* form */
input, select {
    width: 250px;
    height: 25px;
    border-radius: 16px;
    color: custom.$color-secondary;
    padding: 0 0.5rem;
}

.inputan {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    label {
        padding-inline: 1rem;
    }
}
