@use '../default/custom.scss';

/* form */
input, select {
  color: custom.$color-secondary;
  padding: 0 0.5rem;
  border: custom.$color-secondary 1px solid;
}

label {
  // padding-inline: 0.5rem;
  font-size: 0.8rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.inputan, .inputan-double {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* form tambah atau edit produk */ 
.form-overlay {
  top: 0;
  right: 0;
  justify-content: flex-end; /* form muncul di kanan, sesuai contoh gambar */
  align-items: flex-start;
}

.form-product, .form-user {
  width: 300px;
}

.form-data-distribution {
  width: 500px;

  .main-form {
    flex-direction: row;
    gap: 1rem;
  }

  .double-form {
    display: grid;
    grid-template-columns: 200px 100px;
    gap: 0.5rem;
    justify-content: center;

    p {
      font-size: 0.8rem;
    }
  }

  .inputan {
    padding-bottom: 1rem;

    label {
      padding-left: 0.5rem;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .inputan-double p {
    margin: 0;
    padding-bottom: 1rem;
  }

  .head-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  span {
    font-size: 0.6rem;
    color: #8D8D8D;
  }
  
  tbody td {
    border-top: 0;
    padding-block: 0.3rem;
  }

  .total {
    border-top: 1px solid #8D8D8D;
  }

  .text-end {
    text-align: end;
  }

  .counting {
    font-size: 1rem;
  }
}

.form-product, .form-user, .form-data-distribution {
  background-color: #FAFAFA;
  @include custom.flex-space-between;
  flex-direction: column;
  gap: 0.5rem;

  border: custom.$color-secondary 1px solid;
  border-radius: 8px;
  padding: 1rem;
}

.form-header {
  @include custom.flex-center;
  justify-content: space-between;
  div {
    @include custom.flex-center;
    gap: 0.5rem;
    font-weight: bolder;
  }

  .icon {
    width: 30px;
  }
}

.main-form {
  display: flex;
  flex-direction: column;

  input, select {   
    height: 30px;
    border-radius: 4px;
  }

  .button {
    @include custom.flex-center;
  }
}

.form-product .double-form {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1rem;
}

.form-product .main-form {
  gap: 2rem;

  .button {
    margin: 2rem 0 0.8rem 0;
  }
}

.form-user .main-form {
  gap: 1rem;

  label {
    padding-inline: 0.5rem;
  }
}

.form-user {
  height: max-content;
}

.detail-product {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  p {
    margin: 0;
  }
}

.detail-container {
  width: 180px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.display-detail {
  border: 1px solid custom.$color-secondary;
  border-radius: 4px;
}
