@use '../default/custom.scss';

.product-items {
  @include custom.flex-align-center;
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
}