@use '../default/custom.scss';

.product-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-product {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    color: custom.$color-secondary;
    height: 30px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      cursor: pointer;
      color: custom.$color-primary;
      background-color: custom.$color-secondary;
      border-radius: 4px;
      
      .icon {
        color: custom.$color-tertiary;
      }
    }
  }
}

.header-product-page, .header-inventory, .header-distribution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: bolder;

  .button {
    height: 35px;
    display: flex;
    gap: 1rem;

    p {
      padding: 0;
      margin: 0;
    }
  }
}

.search-filter {
  display: flex;
  gap: 1rem;

  div {
    height: 25px;
    border-radius: 16px;
    border: custom.$color-secondary 1px solid;

    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
  }

  input {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .filter {
    width: 80px;
    background-color: custom.$color-secondary;
    color: custom.$color-primary;
    justify-content: space-between;

    input {
      width: 35px;
    }
  }

  .search {
    width: 200px;}
}

.product-items {
  @include custom.flex-align-center;
  gap: 1.5rem;
  padding-block: 0.5rem;

  max-width: 100%;
  overflow-x: auto;
}

.product {
  border-radius: 8px;
  background-color: custom.$color-primary;

  img {
    margin: 0;
    padding: 0;
    border-radius: 8px 8px 0 0;

    width: 180px;
  }

  .product-desc {
    padding: 0.5rem 1rem;

    p {
      text-align: center;
      font-weight: bolder;
    }
  }
}

/* form tambah atau edit produk */ 
.form-overlay {
  top: 0;
  right: 0;
  justify-content: flex-end; /* form muncul di kanan, sesuai contoh gambar */
  align-items: flex-start;
}

.form-product {
  width: 300px;
  background-color: #FAFAFA;
  @include custom.flex-space-between;
  flex-direction: column;
  gap: 0.5rem;

  border: custom.$color-secondary 1px solid;
  border-radius: 8px;
  padding: 1rem;
}

.form-header {
  @include custom.flex-center;
  justify-content: space-between;
  padding-block: 0.5rem;

  div {
    @include custom.flex-center;
    gap: 0.5rem;
    font-weight: bolder;
  }

  .icon {
    width: 30px;
  }
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  input, select {   
    height: 30px;
    border-radius: 4px;
  }

  .button {
    @include custom.flex-center;
    margin: 2rem 0 0.8rem 0;
  }
}

.double-form {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1rem;
}
