@use '../default/custom.scss';

.product-page, .distribution-history {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inventory-display, .product-display .title, .header-distribution-history {
  font-weight: bolder
}

.nav-product {
  @include custom.flex-align-center;
  gap: 1rem;

  a {
    color: custom.$color-secondary;
    height: 30px;
    padding: 0.5rem;
    @include custom.flex-align-center;
    gap: 0.5rem;

    &:hover {
      cursor: pointer;
      color: custom.$color-primary;
      background-color: custom.$color-secondary;
      border-radius: 4px;

      .icon {
        color: custom.$color-tertiary;
      }
    }
  }
}

.header-product-page, .header-inventory, .header-distribution {
  padding-block: 1rem;
}

.header-product-page, .header-inventory, .header-distribution, .header-user-setting, .distribution-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;

  .button {
    height: 35px;
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;

    p {
      padding: 0;
      margin: 0;
    }

    .icon {
      width: 20px;
    }

    a {
      @include custom.flex-align-center;
      gap: 0.5rem;
      color: custom.$color-primary;
      text-decoration: none;
    }
  }
}

.search-filter {
  display: flex;
  gap: 1rem;

  div {
    height: 25px;
    border-radius: 16px;
    border: custom.$color-secondary 1px solid;

    @include custom.flex-align-center;
    padding-inline: 0.5rem;
  }

  input {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  .filter {
    width: 80px;
    background-color: custom.$color-secondary;
    color: custom.$color-primary;
    justify-content: space-between;

    input {
      width: 35px;
    }
  }

  .search {
    width: 200px;}
}

.product-items {
  @include custom.flex-align-center;
  gap: 1.5rem;
  padding-block: 0.5rem;

  max-width: 100%;
  overflow-x: auto;
}

.product {
  border-radius: 8px;
  background-color: custom.$color-primary;

  img {
    margin: 0;
    padding: 0;
    border-radius: 8px 8px 0 0;

    width: 180px;
  }

  .product-desc {
    padding: 0.5rem 1rem;

    p {
      text-align: center;
      font-weight: bolder;
    }
  }
}

.main-distribution {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
