@use '../default/custom.scss';

.product-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-display {
  height: 70vh;
  background-color: #e4e3e3;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.nav-product {

  ul {
    display: flex;
    gap: 1rem;
  }

  li {
    height: 30px;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      color: custom.$color-primary;
      background-color: custom.$color-secondary;
      border-radius: 4px;

      .icon {
        color: custom.$color-tertiary;
      }
    }
  }
}

.header-product-page {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding-block: 0.5rem;
}

.search-filter {
  display: flex;
  gap: 1rem;
}

.product-items {
  @include custom.flex-align-center;
  gap: 1.5rem;
  padding-block: 0.5rem;

  max-width: 100%;
  overflow-x: auto;
}

.product {
  border-radius: 8px;
  background-color: custom.$color-primary;

  img {
    margin: 0;
    padding: 0;
    border-radius: 8px 8px 0 0;

    width: 180px;
  }

  .product-desc {
    padding: 0.5rem 1rem;

    p {
      text-align: center;
      font-weight: bolder;
    }
  }
}

/* form tambah atau edit produk */ 

.form-product {
  width: 300px;
  height: 400px;
  @include custom.flex-space-between;
  flex-direction: column;
  gap: 0.5rem;

  border: custom.$color-secondary 1px solid;
  border-radius: 8px;
  padding: 1rem;
}

.form-header {
  @include custom.flex-center;
  gap: 1rem;
  padding-block: 0.5rem;

  div {
    @include custom.flex-center;
    gap: 0.5rem;
  }
}
