@use '../default/custom.scss';

.product-display {
  grid-area: product-display;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other-setting {
  grid-area: other-setting;
  border-left: 2px solid custom.$color-tertiary;
  padding-left: 1rem;
}

.icon-languages {
  display: flex;
  gap: 2rem;
  height: 70px;

  img {
    width: 35px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: all 0.2s ease-in-out;
    }
  }
}

.language {
  @include custom.flex-column;
}

.btn-setting {
  @include custom.flex-between;
  padding-right: 1rem;

  p {
    width: 200px;
  }
}