@use '../default/custom.scss';

/* tabel */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
}

.descTable {
    @include custom.flex-align-center();
    justify-content: space-between
}

.title-table {
    @include custom.flex-align-center();
    gap: 0.3rem;
}

thead th {
    border-bottom: custom.$color-secondary 1px solid;
    top: 0;
    background: custom.$color-primary;
    z-index: 2;
    padding: 10px;
    text-align: left;
}

tbody td {
    border-top: custom.$color-secondary 1px solid;
    padding-inline: 10px;
}

// tabel dashboard
.table-dashboard, .table-display {
    max-height: 350px;
}
.table-user {
    max-height: 150px;
}

.table-dashboard, .table-user, .table-display {
    width: 100%;
    border-radius: 12px;
    overflow-y: auto;
    // border: 1px solid custom.$code-product;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: custom.$color-primary;

    a {
        text-decoration: none;
        color: custom.$color-tertiary;

        &:hover {
            color: custom.$color-primary;
            padding: 0.2rem 0.5rem;
            background-color: custom.$color-tertiary;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
        }
    }

    .name {
        margin-top: 0;
    }
    
    .code {
        color: custom.$code-product;
        margin-bottom: 0;
    }

    .center {
        text-align: center;
    }

    thead th {
        position: sticky;
    }
}

.column-action {
    width: 100px;
}

.pagination-display, .pagination {
    @include custom.flex-between();
}

.left, .right {
    @include custom.flex-center();
    gap: 0.3rem;
}

.pagination {
    gap: 1.5rem;
}
