/* tabel */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
}

thead th {
    border-bottom: #2B2B2B 1px solid;
    position: sticky;
    top: 0;
    background: #fff; /* beri background biar tidak transparan saat scroll */
    z-index: 2;
    padding: 10px;
}

tbody td {
    border-bottom: #2B2B2B 1px solid;
    padding: 10px;

}

// tabel dashboard
.table-dashboard {
    width: 100%;
    border-radius: 12px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;

    a {
        text-decoration: none;
        color: #118800;

        &:hover {
            color: white;
            padding: 0.2rem 0.5rem;
            background-color: #118800;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
        }
    }
}

.column-action {
    width: 100px;
}

// /* Baris ganjil */
// tbody tr:nth-child(odd) {
//   background-color: #343434; /* misal abu gelap */
// }

// /* Baris genap */
// tbody tr:nth-child(even) {
//   background-color: #2B2B2B; /* sedikit lebih gelap */
// }