@use '../default/custom.scss';

/* tabel */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
}

thead th {
    border-bottom: custom.$color-secondary 1px solid;
    position: sticky;
    top: 0;
    background: custom.$color-primary;
    z-index: 2;
    padding: 10px;
}

tbody td {
    border-bottom: custom.$color-secondary 1px solid;
    padding-inline: 10px;
}

// tabel dashboard
.table-dashboard {
    width: 100%;
    border-radius: 12px;
    max-height: 250px;
    overflow-y: auto;
    // border: 1px solid custom.$code-product;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    a {
        text-decoration: none;
        color: custom.$color-tertiary;

        &:hover {
            color: custom.$color-primary;
            padding: 0.2rem 0.5rem;
            background-color: custom.$color-tertiary;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
        }
    }

    .name {
        margin-top: 0;
    }
    
    .code {
        color: custom.$code-product;
        margin-bottom: 0;
    }

    .center {
        text-align: center;
    }
}

.column-action {
    width: 100px;
}

// /* Baris ganjil */
// tbody tr:nth-child(odd) {
//   background-color: #343434; /* misal abu gelap */
// }

// /* Baris genap */
// tbody tr:nth-child(even) {
//   background-color: #2B2B2B; /* sedikit lebih gelap */
// }